@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @warn "no value could be retrieved from `#{$breakpoint}`. ";
  }
}

@mixin rgba-background($hexcolor, $opacity: 1) {
  @if $opacity == 1 {
    background-color: $hexcolor;
  } @else {
    background-color: $hexcolor;
    background-color: rgba($hexcolor, $opacity);
  }
}

@mixin ellipse($max-width) {
  overflow: hidden;
  max-width: $max-width;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
    height: 0;
  }
}

%sr-only {
  border: 0;
  margin: -1px;
	padding: 0;
	clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
}