- const hero = get_hero(page, theme);
if theme.favicon
  link(rel="preload" as="image" href= resolve_url(theme.favicon) crossorigin="anonymous")

if theme.gravatar
  link(rel="preload" as="image" href= resolve_url(theme.gravatar) crossorigin="anonymous")

if hero.hasHero
  link(rel="preload" as="image" href= resolve_url(hero.url) crossorigin="anonymous")