if theme.site_verification.enable
  if theme.site_verification.google
    meta(name="google-site-verification" content=theme.site_verification.google)

  if theme.site_verification.naver
    meta(name="naver-site-verification" content=theme.site_verification.naver)

  if theme.site_verification.bing
    meta(name="msvalidate.01" content=theme.site_verification.bing)