if page.comment !== false && is_post() || is_page()
  .comment__container(role="region" aria-label="comments")
    if theme.liveRe && theme.liveRe.uid
      #lv-container(data-id="city", data-uid=theme.liveRe.uid)

    if theme.disqus && theme.disqus.shortname
      #disqus_thread