-
  const paginationOption = {
    prev_text: `
      <span class="fas fa-chevron-left" aria-hidden="true"></span>
      <span class="pagination__button-prev">Prev</span>
    `,
    next_text: `
      <span class="fas fa-chevron-right" aria-hidden="true"></span>
      <span class="pagination__button-next">Next</span>
    `,
    escape: false,
  };

.pagination
  | !{paginator(paginationOption)}