@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/notosanskr/NotoSansKR-Thin.eot') format('eot');
  src: url('/fonts/notosanskr/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/notosanskr/NotoSansKR-Thin.woff2') format('woff2'),
    url('/fonts/notosanskr/NotoSansKR-Thin.woff') format('woff'),
    url('/fonts/notosanskr/NotoSansKR-Thin.ttf')  format('truetype'),
    url('/fonts/notosanskr/NotoSansKR-Thin.svg#NotoSansKR-Thin') format('svg');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/notosanskr/NotoSansKR-Light.eot') format('eot');
  src: url('/fonts/notosanskr/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/notosanskr/NotoSansKR-Light.woff2') format('woff2'),
    url('/fonts/notosanskr/NotoSansKR-Light.woff') format('woff'),
    url('/fonts/notosanskr/NotoSansKR-Light.ttf')  format('truetype'),
    url('/fonts/notosanskr/NotoSansKR-Light.svg#NotoSansKR-Light') format('svg');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/notosanskr/NotoSansKR-DemiLight.eot') format('eot');
  src: url('/fonts/notosanskr/NotoSansKR-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/notosanskr/NotoSansKR-DemiLight.woff2') format('woff2'),
    url('/fonts/notosanskr/NotoSansKR-DemiLight.woff') format('woff'),
    url('/fonts/notosanskr/NotoSansKR-DemiLight.ttf')  format('truetype'),
    url('/fonts/notosanskr/NotoSansKR-DemiLight.svg#NotoSansKR-DemiLight') format('svg');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/notosanskr/NotoSansKR-Regular.eot') format('eot');
  src: url('/fonts/notosanskr/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/notosanskr/NotoSansKR-Regular.woff2') format('woff2'),
    url('/fonts/notosanskr/NotoSansKR-Regular.woff') format('woff'),
    url('/fonts/notosanskr/NotoSansKR-Regular.ttf')  format('truetype'),
    url('/fonts/notosanskr/NotoSansKR-Regular.svg#NotoSansKR-Regular') format('svg');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/notosanskr/NotoSansKR-Medium.eot') format('eot');
  src: url('/fonts/notosanskr/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/notosanskr/NotoSansKR-Medium.woff2') format('woff2'),
    url('/fonts/notosanskr/NotoSansKR-Medium.woff') format('woff'),
    url('/fonts/notosanskr/NotoSansKR-Medium.ttf')  format('truetype'),
    url('/fonts/notosanskr/NotoSansKR-Medium.svg#NotoSansKR-Medium') format('svg');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/notosanskr/NotoSansKR-Bold.eot') format('eot');
  src: url('/fonts/notosanskr/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/notosanskr/NotoSansKR-Bold.woff2') format('woff2'),
    url('/fonts/notosanskr/NotoSansKR-Bold.woff') format('woff'),
    url('/fonts/notosanskr/NotoSansKR-Bold.ttf')  format('truetype'),
    url('/fonts/notosanskr/NotoSansKR-Bold.svg#NotoSansKR-Bold') format('svg');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/notosanskr/NotoSansKR-Black.eot') format('eot');
  src: url('/fonts/notosanskr/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/notosanskr/NotoSansKR-Black.woff2') format('woff2'),
    url('/fonts/notosanskr/NotoSansKR-Black.woff') format('woff'),
    url('/fonts/notosanskr/NotoSansKR-Black.ttf')  format('truetype'),
    url('/fonts/notosanskr/NotoSansKR-Black.svg#NotoSansKR-Black') format('svg');
}