footer.footer
  p.credit
    = `Powered by  `
    a(href="https://hexo.io/" rel="external noreferrer" target="_blank") Hexo
    = `. Theme by  `
    a(href="https://github.com/mulder21c" rel="external noreferrer" target="_blank") mulder21c
