meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")

include ../elements/head/title.pug

// Links
include ../elements/head/links.pug

// preload
include ../elements/head/preload.pug

// Icons
include ../elements/head/icons.pug

// open graph
include ../elements/head/opengraph.pug

// verify website ownership
include ../elements/head/verify-website.pug

// styles
include ../elements/head/style.pug

// JSON LD for SEO
include ../elements/head/jsonld.pug

//scripts
include ../elements/head/analytics.pug