html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  box-orient: vertical;
  flex-direction: column;
  background-color: $primary-backgroundcolor;
  color: $black;
}

.footer {
  margin-top: auto;
  flex: 0 0 auto;
  background-color: rgba(darken($muddy-color, 10%), 0.15);
}