html {
  font-size: $base-font-size;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Iropke Batang', serif;
  font-size: $base-font-size;
  color: $black;
  line-height: 1.6;
  word-break: break-word;
  word-wrap: break-word;
}

::selection {
  background-color: $accent-color;
  color: $white;
}

h1 {
  font-size: $heading-font-size-level-1;
}

h2 {
  font-size: $heading-font-size-level-2;
}

h3 {
  font-size: $heading-font-size-level-3;
}

h4 {
  font-size: $heading-font-size-level-4;
}

h5 {
  font-size: $heading-font-size-level-5;
}

h6{
  font-size: $heading-font-size-level-6;
}

.header {
  font-family: "Noto Sans KR";
}

.footer {
  font-size: $small-font-size;
  text-align: center;

  a[rel="external"],
  a[rel="license"] {
    color: $theme-color;
  }
}